.Proyectos{
    display: flex;
    justify-content: center;
    background-color: #1b263b;
}

.Proyectos-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1550px;
    width: 1400px;
    background-color: #1b263b;
    justify-content: center;
}
.section-titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    color: rgb(240, 248, 255);
}
.section-text{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    color: rgb(240, 248, 255);
}