.groupcard {
    height: 600px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.groupcard .card {
    width: 20rem;
}

.groupcard .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    font-size: 25px;
}

.card-body p {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}