.habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1b263b;
}

h1{
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-size: 45px;
    color: rgb(240, 248, 255);
}