@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to App</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">Override</a>
    <a asp-controller="Home" asp-action="CreateEditExpenses" class="btn btn-primary">Create New</a>
</div>
