<h3>Socket Cte</h3>
<form>
    <label>Product</label><input type="text" name="name" id="name">
    <label>Price</label><input type="number" name="price" id="price">
    <input type="submit" value="send"> 
</form>
<br>
<p id="produts"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="../Car_public/index.js"></script>