.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.category{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 800px;
}