.footer{
    background-color: #202c42;
    display: flex;
    width: auto;
    height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(240, 248, 255);
}