.body{
    background-color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
}

.body2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 910px;
    width: 1400px;
    background-color: rgb(99, 99, 194);
}

.body-text{
    width: 45rem;
}