.header{
    background-color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #bebedf;
    height: 85px;
    width: 1200px;
    margin-top: 90px;
    position: fixed;
}

.header-btnera{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

a{
    text-decoration: none;
    color: black;
    margin: 5%;
    font-size: 15px;
}
a:hover {
  text-decoration: underline;
}