.contact{
    background-color: #1b263b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: auto;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    color: rgb(240, 248, 255);
}

.contact h2{
    font-size: 38px;
    color: rgb(240, 248, 255);
}

.media{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}